@page
@{
    ViewData["Title"] = "About Me! Ich bims";
    Subheader = "Über mich:";
}
<h2>@ViewData["Title"]</h2>
<h3>@Subheader</h3>

<p>Use this area to provide additional information.</p>
