@page
@model IndexModel
@{
    ViewData["Title"] = "Willkommen";
}
<div class="center-block" style="text-align: center; margin-top: 20%;">
   <h1>Willkommen zu Csharpen Razorpages</h1>
   <h5>Und weiteren Unsinn mit Jakub Mikos (steht wieder vorne)</h5>
</div>