@page
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@model PresenData
@functions
{
    public class PresenData: PageModel {

        public readonly IEnumerable<string> _keyPointList;
        
        public PresenData(){
            this._keyPointList = new List<string>(){
                "Klassen und Modelle in Razer Files möglich",
                "Voller funktionsumfang von c#",
                "Keine IDE unterstützung",
                "Fehler erst zur Laufzeit"
                };
        }

    }
}
<h2>Inline Models</h2>
<h3>Und anderer Webdeveloper Wahnsinn</h3>
<ul>
    @foreach(string item in @Model._keyPointList){
        <li>@item</li>
    }
</ul>