@page

<div class="center-block" style="text-align: center;">
   <h2>Quellen</h2>
   <h3>Fragen? Diskussionen? Anmerkungen oder wüste Beschimpfungen, dann jetzt.</h3>
</div>

<ul>
       <li>
        <a href="https://stackify.com/asp-net-razor-pages-vs-mvc/">
            MVC vs RazorPages
        </a>
       </li>
       <li>
        <a href="https://docs.microsoft.com/de-de/aspnet/core/mvc/razor-pages/?tabs=visual-studio">
            Microsoft Docs
        </a>
       </li>
       <li>
        <a href="https://msdn.microsoft.com/en-us/magazine/mt842512.aspx">
            msdn: Simpler ASP.NET MVC Apps with Razor Pages
        </a>
       </li>
        <li>
         <a href="https://www.learnrazorpages.com">
            Learn Razor Pages
        </a>
       </li>
   </ul>
