@page
@{
    string title = "About Me! Ich bims";
    string subheader = "Über mich:";
}
<h2>@title</h2>
<h3>@subheader</h3>
<p>Ich bin Jakub Mikos</p>
<h3>Links</h3>
<ul>
    <li>Facebook: <a href="https://www.facebook.de/CodeBastard">facebook.de/CodeBastard</a></li>
    <li>Blog: <a href="https://jakubmikos.net">jakubmikos.net</a></li>
    <li>GitHub: <a href="https://github.com/CodeBast4rd/CodeBastard">github.com/CodeBast4rd/CodeBastard</a></li>
</ul>
<p>Uhrzeit:@DateTime.Now</p>