body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, .present, .nav.navbar-nav li  {
    font-size: 200%;
}

.zombimg {
    width: 60vw;
    height: auto;
}

.present {
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav.navbar-nav li {
    font-weight: bolder;
}